^contentPage {
  background-color: #17c863;
}
.frame {
  margin: 15,50,15,0;
  border-radius: 15;
  border-color: #7A9999;
  background-color: #516969;
  width: 200;
}
frame > stackLayout {
  -xf-spacing: 10;
  -xf-orientation: vertical;
}
.splitterBox {
  height: 1;
  background-color: Black;
}
.headerLabel {
  font-size: large;
  font-style: bold;
  color: #b9cdcd;
}
.detailsLabel {
  flex-wrap: nowrap;
  max-lines: 3;
  font-style: italic;
  color: #e4f4f4;
}
