#underlineLabel {
  text-decoration: underline;
}
#strikeThroughLabel {
  text-decoration: strikethrough;
}
#mixedLabel {
  text-decoration: underline, strikethrough;
}
.headerLabel {
  margin: 40;
  font-style: italic;
  color: coral;
}
#aquaLabel {
  color: aquamarine;
}
.titleLabel {
  margin: 40;
}
